<table class="table table-bordered tabla-alumnos">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr [class.table-danger]="alumno.nota < 5" [class.table-success]="alumno.nota >= 5" *ngFor="let alumno of alumnos">
      <td>{{alumno.nombre}}</td>
      <td>{{alumno.apellido}}</td>
      <td class="text-center">{{alumno.nota}}</td>
      <td>
        <a href="#" class="borrar" (click)="onBorrarAlumno($event, alumno)">
          <i class="fa fa-times-circle"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
