<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Nota media</div>
      <div class="card-body numbers">{{resultados.media | number:'1.0-2'}}</div>
      <!-- La clase fa-smile pone la cara sonriente, y la clase icono-ok la pone en verde -->
      <i class="fa icono-status" [ngClass]="getClasesCara(resultados.media)"></i>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">Máxima nota</div>
      <div class="card-body numbers">{{resultados.maxima | number:'1.0-2'}}</div>
      <!-- La clase fa-frown pone la cara triste, y la clase icono-no-ok la pone en rojo -->
      <i class="fa icono-status" [ngClass]="getClasesCara(resultados.maxima)"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Aprobados</div>
      <div class="card-body numbers">{{resultados.aprobados.totales}}
        ({{resultados.aprobados.porcentaje | number:'1.0-2'}}%)</div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">Suspensos</div>
      <div class="card-body numbers">{{resultados.suspensos.totales}}
        ({{resultados.suspensos.porcentaje | number:'1.0-2'}}%)</div>
    </div>
  </div>
</div>
