<notas-cabecera></notas-cabecera>
<main class="container">
  <div class="row">
    <div class="col">
      <notas-aula [aula]="'A'"></notas-aula>
    </div>
    <div class="col">
      <notas-aula [aula]="'B'"></notas-aula>
    </div>
    <div class="col">
      <notas-aula [aula]="'C'"></notas-aula>
    </div>
  </div>
</main>
<notas-loading *ngIf="cargando"></notas-loading>
