<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Notas App</h1>
    </div>
    <nav class="nav navbar-nav navbar-right menu">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a href="#" class="activo">Listado de notas</a></li>
        <li class="list-inline-item"><a href="#">Estadísticas</a></li>
      </ul>
    </nav>
  </div>
</header>
