<div class="card">
  <div class="header row">
    <h2 class="col-10">Aula {{aula}}</h2>
    <div class="col-2 anyadir">
      <a href="#">
        <i class="fa fa-plus-circle"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <notas-lista [aula]="aula"></notas-lista>
  </div>
  <div class="card-footer totales">
    <notas-estadisticas-aula [aula]="aula"></notas-estadisticas-aula>
  </div>
</div>
